<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head id="Head1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../styles/mobile.css">
<title>	支付失败</title>
<script src="../scripts/jquery-1.9.1.min.js"></script>
<style>
#getYzm, .getYzm
{
    background:none;
    padding:0;
}
   .topic_ipt input::-webkit-outer-spin-button, .topic_ipt input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        outline:none;
    }
</style>
<body>
    <div class="i_header">
        <div class="logo9">
           <span id="btnSubmit" class="button orange" data-role="button" >支付失败.....<span>
        </div>
    </div>
    
    
        
   



</body></html>